*{
    margin: 0;
    padding: 0;
    color: #3b3b3b;
}

$textcolor:#3b3b3b;
$color1: #F4F1EC;
$min-width: 120px;
$maincolor: #6BBE92;  
$secondarycolor: #3E8760;
.animate-nav{
  opacity: 0;
}


.nav{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 99;
   // height: 7em;
    flex-basis: 100%;
    align-content: center;
    align-items: baseline;
  background: white;
    padding-top: 3em;
  


  &__blank--left{
     display: flex;
    height: 100%;
    flex-basis: 20%;
   // background: yellow;


    &-space{
      width: 40%;
      height: 100%;
  //    background: pink;
    }

    &-title{
     width: 60%;
     height: 100%;
    //  background: green;  
      padding-left: 50%;

    }

    &-title h1{
      font-size: 30px;
      font-family: 'Playfair Display', serif;
      font-weight: 900i;
      color: $textcolor;
    }
    &-title h1 a{
      font-size: 30px;
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      font-weight: 900i;
      color: $textcolor;
    }
  }

  &__blank--middle{
    height: 100%;
    flex-basis: 10%;
  // background: blue;

    &--2{
      width: 10%;
      height: 100%;
   //   background: pink;
    }


  }

  &__blank--list{
    height: 100%;
    flex-basis: 55%;
   // background: green;
  }

  &__blank--icons{
    height: 100%;
    flex-basis: 25%;
   // background: cyan;
    display: flex;
  }



/*
    &__prin{
      height: 100%;
      width: 1em;
      background: yellow;

    }

   

    &__prin--head{
       
     margin-left: 60px;
     padding-right: 20%;
     background: yellow;
   
        
        
    }
    &__prin--logo{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: 900i;
        color: $textcolor;
      
      
        
    }  
*/
    &__secu{

        display: flex;
        width: 100%;
        flex-basis: 100%;

        margin-right: 80px;
        justify-content: flex-end;
        color: $textcolor;

 
 
        &--search{
        
           margin-left: 10%;
            padding-left: 10px;
          margin-right: 20%;
          font-size: 20px;
         
        }
        &--user{
            margin-right: 20%;
            font-size: 20px;
        }

        &--item{
            font-size: 20px;
        }
    }

    }

    .desplegable a{
      list-style: none;
      text-decoration: none;
    }

   
    .flex-container {
        list-style: none;
        display: flex;
        flex-basis: 100%;        
        -webkit-flex-flow: row wrap;
        justify-content: space-between;
        list-style: none; 
      }
      
      .flex-item {

        font-family: 'Lato', sans-serif;
        font-weight: 300;
      

        &-woman{

            text-decoration: none;
            font-weight: none;
            

            //text-decoration: line-through;
           // font-weight: bold;
        }
        &-man{

            text-decoration: none;
            font-weight: none;

        }
        &-kids{
            text-decoration: none;
            font-weight: none;
            
        }
        &-sale{
            text-decoration: none;
            font-weight: none;
            
        }
        

      }
      .flex-item a{
        text-decoration: none;
        color: $textcolor;
        font-weight: 400;
      }

    


.leftsidebar{
    position: fixed;
    z-index: 98;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
 


    &__item{
        
        font-size: 1em;
        align-items: baseline;
        color: $textcolor;

        &--1{
            transform:rotate(-90deg);
            webkit-transform:rotate(-90deg);
            font-family: 'Lato', sans-serif;
            font-weight: 400;
        }
        &--2{
           
            transform:rotate(-90deg);
            webkit-transform:rotate(-90deg);
           
            letter-spacing:2px;
        }
       
    }
}

.rightsidebar{
    margin: 0;
    padding: 0;
    
    &__list{
        position: fixed;
        z-index: 98;

        margin-left: 91%;
        margin-top: 10%;
        margin-right: 80px;
     
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     
        height: 60%;
       
        flex-basis: 0%;
   
        list-style: none;
        
        
        

        &--child{

            transform:rotate(90deg);
            webkit-transform:rotate(90deg);
            font-family: 'Lato', sans-serif;
            margin-right: 50px;
            align-items: flex-end;
           

            font-size: 1em;
           
          

            &-1 a{
                text-decoration: none;
                color: $textcolor;
            }
            &-2 a{
                text-decoration: none;
                color: $textcolor;
                
            }
            &-3 a{ 
                text-decoration: none;
                color: $textcolor;
                
            }


        }
    }
}
.fondo{
   
    
    
    position: fixed;
    z-index: 1 ;
    display: flex;
    width: 100%;
    height: 100%;
   

    &__blank1{
        width: 7%;
        height: 100%;
      //  background: red;
        display: flex;
        flex-direction: column;
        

        &-iztop{
            width: 100%;
            height: 50%;
            //background: blue;

        }
        &-izbot{
            width: 100%;
            height: 50%;
            background: #FFFFFF;
            
        }
      
        
    }
    &__blank2{

        width: 53%;
        height: 100%;
       // background: magenta;
        
       
      
    }
    &__blank3{

        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
       // background: cadetblue;
     

        &-iztop{

            width: 100%;
            height: 90%;
            background: #FFFFFF;

        }
        &-izbot{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
          //  background: rebeccapurple;

            &--1{
                width: 50%;
                height: 100%;
               // background: yellow;

            }
            &--2{
                width: 50%;
                height: 100%;
                background: #FFFFFF;
                
            }
            
        }
      
    }
}

#fullpage{
    height: 100vh;
    overflow: hidden;
}

#fullpage section{
    height: 100vh;
   
    transition: all .7s ease-in-out;
    
    
}


#fullpage section h1{
margin: 0;
padding: 0;
}

#fullpage section:nth-child(1){
    position: relative;
    z-index: 4;
  
    
}
#fullpage section:nth-child(2){
    position: relative;
    z-index: 4;
   
   // background: blue;
}
#fullpage section:nth-child(3){
    position: relative;
    z-index: 4;
  
   // background: green  ;
}
#fullpage section:nth-child(4){
    position: relative;
    z-index: 4;
   
    //background: violet;
}
#fullpage section:nth-child(5){
    position: relative;
    z-index: 4;
    //background: yellow;
}

//SECTION 1
//SECTION 1
//SECTION 1
//SECTION 1


.cont{
    display: flex;
    width: 100%;
    height: 100vh;
   // background: rebeccapurple;

  &__blank{
      width: 10%;
      height: 100vh;
     // background: red;
  }

  &__blank2{
    width: 20%;
    height: 100vh;
   // background: blue;
    display: flex;
    flex-direction: column;
   

        &-top{
            width: 100%;
            height: 10%;
            //background: yellow;
      
        }

        &-middle{
           width: 85%;
            padding-left: 10%;
            height: 80%;
            //background: teal;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            


        &--title{
            font-family: 'Playfair Display', serif;
            font-weight: 900i;
            font-size: 80px;
            letter-spacing: 6px;
            color: $textcolor;
        }

        &--para{
            font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: $textcolor;

        }
/*
        &--nav{
            
        }
*/

    }

    &-bottom{

        width: 100%;
        height: 10%;
        

        
    }



}


@mixin transform($value){
    -webkit-transform: ($value);
       -moz-transform: ($value);
        -ms-transform: ($value);
            transform: ($value);
  }
  @mixin transition($value){
    -webkit-transition: ($value);
       -moz-transition: ($value);
        -ms-transition: ($value);
            transition: ($value);
  }
  

 
 
  #main{
    position: relative;
    list-style: none;
    font-weight: 400;
   font-size: 20px;
   color: $textcolor;
   
    
    display: inline-block;
    padding: 0;
    margin: 50px auto;

    li{
      font-size: 1em;
      display: inline-block;
      position: relative;
      padding: 10px 10px;
      cursor: pointer;
      z-index: 5;
      min-width: $min-width;
    }  
  }
  li{
    margin: 0;
  }
  .drop{
      overflow: hidden;
      list-style: none;
      position: absolute;
      padding-left: 30%;
      font-size: 5px;
      width: 300px;
      left: 0;
      top: 10px;
      div{
        @include transform(translate(0,-100%));
        @include transition(all 0.5s 0.1s);
        position: relative;
      }
      li{
        display:block;
        padding-left: 10px;
        width: 100%;
        font-family: 'Playfair Display', serif;
            font-weight: 700;
          
            letter-spacing: 2px;
            color: $textcolor;
      
      }
    }
  
  
  @for $i from 1 through 4{
    #main li:nth-child(#{$i}){
      &:hover ul div{
       @include transform(translate(0,0)); 
      }
      &:hover ~ #marker{
        @include transform(translate(#{(-1+$i)*$min-width},0));
      }
    }    
  }






&__blank3{

    width: 40%;
    height: 100vh;
  // background: red;

    &-top{
        width: 100%;
        height: 13%;
       // background: white;
    }

    &-middle{   

        align-self: center;
        width: 453px;
        height: 77%;
        margin-left: 15%;
      //  background-image: url(/imagenes/main-min.jpg);
        background-size: cover;
       background-position-y: -100px;
        background-repeat: no-repeat;

    }

    &-bottom{
        width: 100%;
        height: 10%;
      //  background: white;

        
    }
   
}
&__blank4{
    width: 25%;
    height: 100vh;
  //  background: blue;
    display: flex;
    flex-direction: column;

    &-top{
        width: 100%;
        height: 13%;
     //   background: white;
    }

    &-middle{
        align-self: flex-end;
        width: 90%;
        height: 77%;
        background-image: url(/imagenes/textura1-min.jpg);
       background-size: cover;

    }

    &-bottom{
        width: 100%;
        height: 10%;
       // background: white;

        
    }
   
}
&__blank5{
    width: 10%;
    height: 100vh;
  // background: red;
   
}

}


// SECTION 2
// SECTION 2
// SECTION 2
// SECTION 2
// SECTION 2
// SECTION 2

.s2cont{
    
        display: flex;
        width: 100%;
        height: 100vh;
       // background: rebeccapurple;

        &__blank{
            width: 10%;
            height: 100vh;
         //   background: red;
        }
        &__blank2{
            width: 30%;
            height: 100vh;
          //  background: blue;
            display: flex;
            flex-direction: column;
           
        
                &-top{
                    width: 100%;
                    height: 10%;
               //     background: yellow;
              
                }
        
                &-middle{
                   width: 85%;
                    padding-left: 10%;
                    height: 80%;
               //     background: teal;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
        
        
                &--title{
                    font-family: 'Playfair Display', serif;
                    font-weight: 900i;
                    font-size: 80px;
                    letter-spacing: 6px;
                    color: $textcolor;
                }
        
                &--para{
                    font-family: 'Lato', sans-serif;
                font-weight: 300;
                color: $textcolor;
        
                }
        /*
                &--nav{
                    
                }
                */
            }
            &-bottom{
                width: 100%;
                height: 10%;
 
            }
        
        }

        @mixin transform($value){
            -webkit-transform: ($value);
               -moz-transform: ($value);
                -ms-transform: ($value);
                    transform: ($value);
          }
          @mixin transition($value){
            -webkit-transition: ($value);
               -moz-transition: ($value);
                -ms-transition: ($value);
                    transition: ($value);
          }
          
        
         
         
          #main{
            position: relative;
            list-style: none;
            font-weight: 400;
           font-size: 20px;
           color: $textcolor;
           
            
            display: inline-block;
            padding: 0;
            margin: 50px auto;
        
            li{
              font-size: 1em;
              display: inline-block;
              position: relative;
              padding: 10px 10px;
              cursor: pointer;
              z-index: 5;
              min-width: $min-width;
            }  
          }
          li{
            margin: 0;
          }
          .drop{
              overflow: hidden;
              list-style: none;
              position: absolute;
              padding-left: 30%;
              font-size: 5px;
              width: 300px;
              left: 0;
              top: 10px;
              div{
                @include transform(translate(0,-100%));
                @include transition(all 0.5s 0.1s);
                position: relative;
              }
              li{
                display:block;
                padding-left: 10px;
                width: 100%;
                font-family: 'Playfair Display', serif;
                    font-weight: 700;
                  
                    letter-spacing: 2px;
                    color: $textcolor;
              
              }
            }
          
          
          @for $i from 1 through 4{
            #main li:nth-child(#{$i}){
              &:hover ul div{
               @include transform(translate(0,0)); 
              }
              &:hover ~ #marker{
                @include transform(translate(#{(-1+$i)*$min-width},0));
              }
            }    
          }

          &__blank3{

            width: 30%;
            height: 100vh;
          // background: red;
        
            &-top{
                width: 100%;
                height: 13%;
               // background: white;
            }
        
            &-middle{   
        
                align-self: flex-end;
                width: 100%;
                height: 77%;
                background-image: url(/imagenes/women2.jpg);
                background-size: cover;
               background-position-y: 0;
                background-repeat: no-repeat;
        
            }

            &-middle:hover{
                background-image: url(/imagenes/women1.jpg);
                transition: 0.5s;

            }
        
            &-bottom{
                width: 100%;
                height: 10%;
              // background: white;
        
                
            }
           
        }
        &__blank4{
            width: 25%;
            height: 100vh;
          //  background: blue;
            display: flex;
            flex-direction: column;
        
            &-top{
                width: 100%;
                height: 13%;
             // background: white;
            }
        
            &-middle{
                align-self: flex-end;
                width: 90%;
                height: 77%;
                background-image: url(/imagenes/women3.jpg);
               background-size: cover;
        
            }

            &-middle:hover{
                background-image: url(/imagenes/women4.jpg);
                transition: 0.5s;
               
            }
        
            &-bottom{
                width: 100%;
                height: 10%;
               // background: white;
        
                
            }
           
        }
        &__blank5{
            width: 10%;
            height: 100vh;
         // background: red;
           
        }
}



//SECTION 3
//SECTION 3
//SECTION 3
//SECTION 3
//SECTION 3



.s3cont{
    
    display: flex;
    width: 100%;
    height: 100vh;
   //background: rebeccapurple;

    &__blank{
        width: 10%;
        height: 100vh;
       // background: red;
    }
    &__blank2{
        width: 30%;
        height: 100vh;
     //   background: blue;
        display: flex;
        flex-direction: column;
       
    
            &-top{
                width: 100%;
                height: 10%;
              // background: yellow;
          
            }
    
            &-middle{
               width: 85%;
                padding-left: 10%;
                height: 80%;
               // background: teal;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
    
    
            &--title{
                font-family: 'Playfair Display', serif;
                font-weight: 900i;
                font-size: 80px;
                letter-spacing: 6px;
                color: $textcolor;
            }
    
            &--para{
                font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: $textcolor;
    
            }
    /*
            &--nav{
                
            }
            */
        }
        &-bottom{
            width: 100%;
            height: 10%;

        }
    
    }

    @mixin transform($value){
        -webkit-transform: ($value);
           -moz-transform: ($value);
            -ms-transform: ($value);
                transform: ($value);
      }
      @mixin transition($value){
        -webkit-transition: ($value);
           -moz-transition: ($value);
            -ms-transition: ($value);
                transition: ($value);
      }
      
    
     
     
      #main{
        position: relative;
        list-style: none;
        font-weight: 400;
       font-size: 20px;
       color: $textcolor;
       
        
        display: inline-block;
        padding: 0;
        margin: 50px auto;
    
        li{
          font-size: 1em;
          display: inline-block;
          position: relative;
          padding: 10px 10px;
          cursor: pointer;
          z-index: 5;
          min-width: $min-width;
        }  
      }
      li{
        margin: 0;
      }
      .drop{
          overflow: hidden;
          list-style: none;
          position: absolute;
          padding-left: 30%;
          font-size: 5px;
          width: 300px;
          left: 0;
          top: 10px;
          div{
            @include transform(translate(0,-100%));
            @include transition(all 0.5s 0.1s);
            position: relative;
          }
          li{
            display:block;
            padding-left: 10px;
            width: 100%;
            font-family: 'Playfair Display', serif;
                font-weight: 700;
              
                letter-spacing: 2px;
                color: $textcolor;
          
          }
        }
      
      
      @for $i from 1 through 4{
        #main li:nth-child(#{$i}){
          &:hover ul div{
           @include transform(translate(0,0)); 
          }
          &:hover ~ #marker{
            @include transform(translate(#{(-1+$i)*$min-width},0));
          }
        }    
      }

      &__blank3{

        width: 30%;
        height: 100vh;
       // background: red;
    
        &-top{
            width: 100%;
            height: 13%;
          //  background: white;
        }
    
        &-middle{   
    
            align-self: flex-end;
            width: 100%;
            height: 77%;
            background-image: url(/imagenes/man1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
    
        }

        &-middle:hover{
            background-image: url(/imagenes/man2.jpg);
            transition: 0.5s;
        }
    
        &-bottom{
            width: 100%;
            height: 10%;
          //  background: white;
  
        }
       
    }
    &__blank4{
        width: 25%;
        height: 100vh;
       // background: blue;
        display: flex;
        flex-direction: column;
    
        &-top{
            width: 100%;
            height: 13%;
         //   background: white;
        }
    
        &-middle{
            align-self: flex-end;
            width: 90%;
            height: 77%;
            background-image: url(/imagenes/man3.jpg);
           background-size: cover;
    
        }

        &-middle:hover{
            background-image: url(/imagenes/man4.jpg);
            transition: 0.5s;
        }
    
        &-bottom{
            width: 100%;
            height: 10%;
           // background: white;
    
            
        }
       
    }
    &__blank5{
        width: 10%;
        height: 100vh;
      // background: red;
       
    }
}



//SECTION 4
//SECTION 4
//SECTION 4
//SECTION 4
//SECTION 4



.s4cont{
    
    display: flex;
    width: 100%;
    height: 100vh;
  //  background: rebeccapurple;

    &__blank{
        width: 10%;
        height: 100vh;
       // background: red;
    }
    &__blank2{
        width: 30%;
        height: 100vh;
       // background: blue;
        display: flex;
        flex-direction: column;
       
    
            &-top{
                width: 100%;
                height: 10%;
                //background: yellow;
          
            }
    
            &-middle{
               width: 85%;
                padding-left: 10%;
                height: 80%;
                //background: teal;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
    
    
            &--title{
                font-family: 'Playfair Display', serif;
                font-weight: 900i;
                font-size: 80px;
                letter-spacing: 6px;
                color: $textcolor;
            }
    
            &--para{
                font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: $textcolor;
    
            }
    /*
            &--nav{
                
            }
            */
        }
        &-bottom{
            width: 100%;
            height: 10%;

        }
    
    }

    @mixin transform($value){
        -webkit-transform: ($value);
           -moz-transform: ($value);
            -ms-transform: ($value);
                transform: ($value);
      }
      @mixin transition($value){
        -webkit-transition: ($value);
           -moz-transition: ($value);
            -ms-transition: ($value);
                transition: ($value);
      }
      
    
     
     
      #main{
        position: relative;
        list-style: none;
        font-weight: 400;
       font-size: 20px;
       color: $textcolor;
       
        
        display: inline-block;
        padding: 0;
        margin: 50px auto;
    
        li{
          font-size: 1em;
          display: inline-block;
          position: relative;
          padding: 10px 10px;
          cursor: pointer;
          z-index: 5;
          min-width: $min-width;
        }  
      }
      li{
        margin: 0;
      }
      .drop{
          overflow: hidden;
          list-style: none;
          position: absolute;
          padding-left: 30%;
          font-size: 5px;
          width: 300px;
          left: 0;
          top: 10px;
          div{
            @include transform(translate(0,-100%));
            @include transition(all 0.5s 0.1s);
            position: relative;
          }
          li{
            display:block;
            padding-left: 10px;
            width: 100%;
            font-family: 'Playfair Display', serif;
                font-weight: 700;
              
                letter-spacing: 2px;
                color: $textcolor;
          
          }
        }
      
      
      @for $i from 1 through 4{
        #main li:nth-child(#{$i}){
          &:hover ul div{
           @include transform(translate(0,0)); 
          }
          &:hover ~ #marker{
            @include transform(translate(#{(-1+$i)*$min-width},0));
          }
        }    
      }

      &__blank3{

        width: 30%;
        height: 100vh;
      // background: red;
    
        &-top{
            width: 100%;
            height: 13%;
           // background: white;
        }
    
        &-middle{   
    
            align-self: flex-end;
            width: 100%;
            height: 77%;
            background-image: url(/imagenes/kids1.jpg);
            background-size: cover;
           
            background-repeat: no-repeat;
    
        }

        &-middle:hover{
            background-image: url(/imagenes/kids2.jpg);
            transition: 0.5s;
        }
    
        &-bottom{
            width: 100%;
            height: 10%;
          //  background: white;
    
            
        }
       
    }
    &__blank4{
        width: 25%;
        height: 100vh;
      //  background: blue;
        display: flex;
        flex-direction: column;
    
        &-top{
            width: 100%;
            height: 13%;
         //   background: white;
        }
    
        &-middle{
            align-self: flex-end;
            width: 90%;
            height: 77%;
            background-image: url(/imagenes/kids3.jpg);
           background-size: cover;
    
        }

        &-middle:hover{
            background-image: url(/imagenes/kids4.jpg);
            transition: 0.5s;
        }
    
        &-bottom{
            width: 100%;
            height: 10%;
           // background: white;
    
            
        }
       
    }
    &__blank5{
        width: 10%;
        height: 100vh;
      // background: red;
       
    }
}






//SECTION 5
//SECTION 5
//SECTION 5
//SECTION 5
//SECTION 5



.s5cont{
    
    display: flex;
    width: 100%;
    height: 100vh;
  //  background: rebeccapurple;

    &__blank{
        width: 10%;
        height: 100vh;
       // background: red;
    }
    &__blank2{
        width: 30%;
        height: 100vh;
       // background: blue;
        display: flex;
        flex-direction: column;
       
    
            &-top{
                width: 100%;
                height: 10%;
                //background: yellow;
          
            }
    
            &-middle{
               width: 85%;
                padding-left: 10%;
                height: 80%;
                //background: teal;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
    
    
            &--title{
                font-family: 'Playfair Display', serif;
                font-weight: 900i;
                font-size: 80px;
                letter-spacing: 6px;
                color: $textcolor;
            }
    
            &--para{
                font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: $textcolor;
    
            }
    /*
            &--nav{
                
            }
            */
        }
        &-bottom{
            width: 100%;
            height: 10%;

        }
    
    }

    @mixin transform($value){
        -webkit-transform: ($value);
           -moz-transform: ($value);
            -ms-transform: ($value);
                transform: ($value);
      }
      @mixin transition($value){
        -webkit-transition: ($value);
           -moz-transition: ($value);
            -ms-transition: ($value);
                transition: ($value);
      }
      
    
     
     
      #main{
        position: relative;
        list-style: none;
        font-weight: 400;
       font-size: 20px;
       color: $textcolor;
       
        
        display: inline-block;
        padding: 0;
        margin: 50px auto;
    
        li{
          font-size: 1em;
          display: inline-block;
          position: relative;
          padding: 10px 10px;
          cursor: pointer;
          z-index: 5;
          min-width: $min-width;
        }  
      }
      li{
        margin: 0;
      }
      .drop{
          overflow: hidden;
          list-style: none;
          position: absolute;
          padding-left: 30%;
          font-size: 5px;
          width: 300px;
          left: 0;
          top: 10px;
          div{
            @include transform(translate(0,-100%));
            @include transition(all 0.5s 0.1s);
            position: relative;
          }
          li{
            display:block;
            padding-left: 10px;
            width: 100%;
            font-family: 'Playfair Display', serif;
                font-weight: 700;
              
                letter-spacing: 2px;
                color: $textcolor;
          
          }
        }
      
      
      @for $i from 1 through 4{
        #main li:nth-child(#{$i}){
          &:hover ul div{
           @include transform(translate(0,0)); 
          }
          &:hover ~ #marker{
            @include transform(translate(#{(-1+$i)*$min-width},0));
          }
        }    
      }

      &__blank3{

        width: 30%;
        height: 100vh;
      // background: red;
    
        &-top{
            width: 100%;
            height: 13%;
           // background: white;
        }
    
        &-middle{   
    
            align-self: flex-end;
            width: 100%;
            height: 77%;
            background-image: url(/imagenes/sale1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
    
        }

        &-middle:hover{
            background-image: url(/imagenes/sale2.jpg);
            transition: 0.5s;
            
        }
    
        &-bottom{
            width: 100%;
            height: 10%;
          //  background: white;
    
            
        }
       
    }
    &__blank4{
        width: 25%;
        height: 100vh;
      //  background: blue;
        display: flex;
        flex-direction: column;
    
        &-top{
            width: 100%;
            height: 13%;
         //   background: white;
        }
    
        &-middle{
            align-self: flex-end;
            width: 90%;
            height: 77%;
            background-image: url(/imagenes/sale4.jpg);
           background-size: cover;
    
        }

        &-middle:hover{

            background-image: url(/imagenes/sale3.jpg);
            transition: 0.5s;

        }
    
        &-bottom{
            width: 100%;
            height: 10%;
           // background: white;
    
            
        }
       
    }
    &__blank5{
        width: 10%;
        height: 100vh;
      // background: red;
       
    }
}






//FOOTER
//FOOTER
//FOOTER
//FOOTER
//FOOTER
//FOOTER



.footer{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
  //  background: rebeccapurple;

    &__blanktop{
        width: 100%;
        height: 90%;
        overflow: hidden;
      //  background: red;

    }
    &__blankbot{
        width: 100%;
        height: 10%;
       // background: yellow;
        display: flex;
        justify-content: center;


        &-iz{
            width: 50%;
            height: 100%;
         //   background: orange;

            &-blank{
                width: 20%;
                height: 100%;
          //      background: violet;
            }

            &-cont{

                display: flex;
                width: 100%;
                height: 100%;
                
                justify-content: flex-start;
                align-content: center;
                align-items: center;
              //  background: red;
            }

            
            


            &-text{
                font-size: 1em;
            }

                   
        }
        &-der{
            width: 50%;
            height: 100%;
           // background: purple;
            
            
            

            &-cont{
                display: flex;
                width: 90%;
                height: 100%;
                
                justify-content: flex-end;
                align-content: center;
                align-items: center;
               
              //  background: wheat;

            }
            
        }

    }
}
.icon{
    padding-left: 20%;
   
}

//TIENDA
//TIENDA
//TIENDA
//TIENDA
//TIENDA
//TIENDA
//TIENDA
//TIENDA

.blanktop__space{
  
  position: fixed;
  width: 100%;
  height: 6em;
  background: white;

  &-nav{
    width: 100%;
    height: 6em;
    background: white;
  //  display: flex;


    &--list{
      display: flex;
      justify-content: center;
      
      list-style: none;

    }
    &--list li{
      padding-left: 2em;
      padding-right: 2em;
      align-items: center;
 
     }

    &--list li a{
     text-decoration: none;

    }
  }
}


.filter__top{
  display: flex;

  
}

.space{
  height: 6em;
  width: 100%;
 // background: yellow;
}

.blankspace__promo{
  display: flex;
  height: 22em;
  width: 100%;
  background:#F8F4F3;

  &-left{
    width: 5%;
    height: 100%;
    //background: pink;
  }
  &-middle{
    width: 90%;
    height: 100%;
   // background: cyan;
  }
  &-right{
    width: 5%;
    height: 100%;
   // background: pink;
  }
  &-list{
    width: 100%;
    height: 100%;
    display: flex;
    //background: red;
    justify-content: space-around;
    align-items: center;
  }
  &-list a{
  text-decoration: none;
  }

}



.promo__item{
width: 20em;
height: 20em;
//background: #3E8760;
display: flex;
justify-content: center;
list-style: none; 


&-text{
  display: flex;
  font-size: 50px;
  color:white; 
  font-family: 'Playfair Display', serif;
  font-weight: 900i;
  align-self: center; 
  text-shadow: 2px 1px 2px #161616;

}

&-1wom{
//background-image: url("../imagenes/item5-re.jpg");
 // background-size: cover;
 width: 320px;
 height: 320px;
// background: red;

}
&-2wom{
 // background-image: url("../imagenes/item4.jpg");
 // background-size: cover;
 width: 320px;
 height: 320px;
 background: red;

}
&-3wom{
 // background-image: url("../imagenes/item7.jpg");
//  background-size: cover;
width: 320px;
 height: 320px;
 background: red;

}
&-4wom{
 // background-image: url("../imagenes/women2.jpg");
 // background-size: cover;
 width: 320px;
 height: 320px;
 background: red;

}


//men

&-1men{
  background-image: url("../imagenes/mens-tees.jpg");
  background-size: cover;

}
&-2men{
  background-image: url("../imagenes/mens-bottom.jpg");
  background-size: cover;

}
&-3men{
  background-image: url("../imagenes/mens-jacket.jpg");
  background-size: cover;

}
&-4men{
  background-image: url("../imagenes/mens-shoes.jpg");
  background-size: cover;

}
}

.content{
  width: 100%;
 // background: yellow;
  display: flex;

  &__left-filterbar{
    width: 20%;
   // background: cyan;
    display: flex;

    &--blank1{
      width: 25%;
     // background: red;

    }
    &--blank2{
      width: 75%;
     // background: red;

      &-list{
        padding-top: 100px;
      //  background: yellow;
        display: flex;
        flex-direction: column;
        height: 30em;
        //padding-top: 30px;
        justify-content: space-around;
        
      }
    }
  }

  &__right{
    width: 5%;
   // background: magenta;
  }


}
.left__filterbarnav{
  list-style: none;
}
.filterbar_title{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.left__filterbarnav li{
 // background: red;
  padding: 10px;
  padding-left: 20px;
 }


.left__filterbarnav li a{
 text-decoration: none;
 font-family: 'Lato', sans-serif;
 font-weight: 500;
}
.subtitle{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.label{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}
.filter-cont-price{
display: flex;
padding: 2em;
justify-content: space-between;
}

.label-cont{
  display: flex;
  flex-direction: column;
  width: 250px;
  
}


.womens__products{
  width: 75%;
 // background: red;
  height: auto;
  display: flex;
  flex-direction: column;


  &-filtertop{

    flex-basis: 100%;
    height: 5em;
  //  background: gray;


  }

  &-content{

    width: 100%;
    height: auto;
    //background: #3E8760;
    
  }


  &-list{
    display: flex;
    flex-flow: wrap;
    flex-basis: 100%;
    justify-content:center;
    align-items: flex-start;
    height: auto;
   
   // background: red;
    
    
   

    &--item{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     flex-basis: 200px;
     padding: 1em;
     list-style: none;

    }
    &--item a{
   text-decoration: none;
   list-style: none;
 
     }
    
  }
}

.producto__name{
  text-decoration: none;
 // background: red;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}
.producto__price{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.producto__desc{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.producto__image{
  pointer-events: auto;
}
/*
.product__cart{
  background-color:#F0F0F0;
	display:inline-block;
  cursor:pointer;
  border: none;
	color:#3b3b3b;
  font-family: 'Lato', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:11px 33px;
	text-decoration:none;
}
.product__cart:hover{
  background-color:rgb(179, 179, 179);
	
}
*/
.input-rango{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.input-rango::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(124, 124, 124); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.input-rango::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(124, 124, 124); /* Green background */
  cursor: pointer; /* Cursor on hover */
}


//PRODUCTO
//PRODUCTO
//PRODUCTO
//PRODUCTO
//PRODUCTO

.contenedor-prod-background{
  width: 100%;
  height: 88vh;
 // background: red;
  display: flex;
  z-index: 5;
  position: absolute;

  &--left{
    height: 100%;
    width: 30%;
   // background: white;
   pointer-events: none;

  }
  &--right{
    height: 100%;
    width: 70%;
    //background: #F8F4F3;
    pointer-events: none;
  }
}

.cont__prod{
  z-index: 5;
  position: fixed;
 width: 100%;
 height: 88em;
 display: flex;
 pointer-events: none;

  &-left{

    height: 100%;
    width: 50%;
   // background: red;
   display: flex;
   justify-content: center;
   align-content: center;
   padding-top: 30px;
   pointer-events: none;
   

   &-imagenes{
     display: flex;
     flex-direction: column;
     padding: 10px;
     pointer-events: auto;
     cursor: pointer;

   }
   &-imagen{
     padding-top: 10px;
     pointer-events: auto;
     
     
  }

  }
  &-right{
    height: 100%;
    width: 50%;
  //  background: rebeccapurple;
  display: flex;
//  pointer-events: auto;
  
   align-content: center;
   padding-top: 30px;

  

  &--cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 34em;
    padding-top: 10px;
    pointer-events: none;

  }
  }
}
/*
.product-detail__cart{
  background-color:rgb(34, 34, 34);
	display:inline-block;
  cursor:pointer;
  border: none;
	color:#fdfdfd;
	font-family:Arial;
	font-size:25px;
	
	padding:11px 33px;
  text-decoration:none;
  pointer-events: auto;

}
.product-detail__cart:hover{
  background-color:rgb(63, 63, 63);
  pointer-events: auto;

}
*/
.carrito-desplegado__lista{
  display: flex;
  background: #F8F4F3;
  width: 100%;
  padding: 10px;
  justify-content: center;


}
.carrito__desplegado-item{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type=email] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn__cart{
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: none;
  cursor: pointer;
  font-size: 20px;
}
.btn__cart:hover{
  background-color: rgb(80, 80, 80);
  
}

.carrito__title{
  font-family: 'Lato', sans-serif;
padding: 20px;
padding-top: 30px;
padding-left: 450px;
}

.ship__title{
  font-family: 'Lato', sans-serif;
  padding-top: 30px;
}

.labels{
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
}

.cont_pago{
  width:100%;
  height: auto;
 display: flex;
 justify-content: center;


}

.form{
width: 600px;
padding-top: 30px;
}

.size{
  display: flex;
  flex-direction: column;
}
.size_list{
  display: flex;
  
  
}

.size_list p{
  padding: 10px;
}

.birds{
  height: 100vh;
  width: 100%;
 // background: red;
 position: relative;

 justify-content: center;
 align-content: center;
 z-index: 0;

 &__blank{
   width: 100%;
   height: 100%;
  // background: red;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

 }

 &__title{
font-size: 70px;
//padding-left: 200px;
width: auto;
height: auto;
color: #3b3b3b;
margin-top: 20px;
//padding-top: 140px;
font-family: 'Playfair Display', serif;
font-weight: 900i;
pointer-events: none;


 }
 &__description{
  font-size: 20px;
 
  font-family: 'Playfair Display', serif;
  font-weight: 700i;
  pointer-events: none;
  color: #3b3b3b;
  letter-spacing: 0.5rem; 
  
  
  
   }





}


//item link


.grid__item-link {
	display: inline-block;
	color: currentColor;
	font-weight: 700;
	font-size: 0.95rem;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link);
}

.grid__item-link:focus,
.grid__item-link:hover {
	color: var(--item-link-hover);
}

.grid__item-link::before {
	content: '';
	position: absolute;
	background: currentColor;
	width: 80%;
	height: 1px;
	bottom: 0;
	transform-origin: 0% 50%;
	transform: scale3d(0,1,1);
	opacity: 0;
	transition: all 0.6s;
	transition-property: opacity, transform;
}

.grid__item-link:hover::before {
	opacity: 1;
	transform: scale3d(1,1,1);
}

//Botton animation
$primary:#3b3b3b;
$second:#644cad;
$third:#4426a8;
  

a.bttn {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}
a.bttn2 {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}


.bttn {
  font-size:15px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:250px;
  font-weight:bold;
  padding:12px 0px;
  border:1.5px solid $primary;
  border-radius:2px;
  position:relative;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
 // box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$primary;
    z-index:-2;
  }
  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}
.bttn2 {
  font-size:25px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:600px;
  font-weight:bold;
  padding:12px 0px;
  border:1.5px solid $primary;
  border-radius:2px;
  position:relative;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  pointer-events: auto;
 // box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$primary;
    z-index:-2;
  }
  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}



.foot-tienda{
  width: 100%;
  height: 150px;
display: flex;
justify-content: center;




  &__left{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
  }

  &__right{

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.icon2{
  padding-left: 55px;
}

.body__producto{
  overflow: hidden;
}

//producto

.main-img {
  display: block;
  //margin: 20px auto;  
  //border: 1px solid rgba(255,255,255,0.2);
  filter: grayscale(0);
}

#zoom-img {
  pointer-events: none;
  position: relative;
  //top: 50%;
  left: 50%;
  cursor: none;
}

#zoom {
  position: absolute;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 0 2px rgba(255,0,0,0.5),
    5px 5px 10px 5px rgba(0,0,0,0.2);
  border-radius: 50%;  
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  cursor: none;
}







