<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrito</title>


    <link rel="stylesheet" href="/style/main.css">

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display:900i" rel="stylesheet">   

</head>
<body>

 
    <div class="nav">
        <div class="nav__blank--left">
            <div class="nav__blank--left-space">
                <div class="nav__blank--left-title">
                    <h1> <a href="/">VOLTIO</a></h1>
                </div>

            </div>

        </div>
        <div class="nav__blank--middle">
            <div class="nav__blank--middle--2">

            </div>
        </div>

        <div class="nav__blank--list">

            <ul class="flex-container">
                <li class="flex-item flex-item-woman" id="cambiarwoman"><a href="/tienda?category=womens">Woman</a>
                </li>
                <li class="flex-item" id="cambiarman"><a href="/tienda?category=mens">Man</a> </li>
                <li class="flex-item flex-item-kids" id="cambiarkids"><a href="#">Kids</a> </li>
                <li class="flex-item flex-item-gifts" id="cambiarsale"><a href="#">Sale</a> </li>

            </ul>
        </div>

        <div class="nav__blank--icons">

            <div class="nav__secu">
                <div class="nav__secu--search">

                    <i class="fas fa-search"></i>

                </div>
                <div class="nav__secu--user">
                    <i class="fas fa-user"></i>

                </div>
                <div class="nav__secu--item">
                    <span class="carrito__num"> </span>
                   <a href="/cart">
                    <i class="fas fa-shopping-bag"></i> </i>
                    </a>
                   

                </div>

            </div>
        </div>
    </div>

    <div class="blanktop__space">

        <div class="blanktop__space-nav">

        </div>

    </div>

    <div class="space"></div>


    <h1>El puto carro</h1>
    <div class="carrito-desplegado">
        <h3>Cart</h3>
        <ul class="carrito-desplegado__lista"></ul>
    </div>

    <form action="/pago" method="POST">

        <label for="">Complete Name</label>
        <input name="name" type="text" value="Alejandro">

        <label for="">Identification document</label>
        <input name="document" type="text" >

         <label for="">Delivery address</label>
        <input name="address" type="text" >
        
         <label for="">E-mail</label>
        <input name="email" type="email" >

        <input class="input-productos" type="hidden" name="productos" value="">

        <button>Ingresar</button>
    </form>

        <script src="/scripts/script.js"></script>
        <script src="/scripts/form.js"></script>
    
</body>
</html>